beautifulsoup4==4.12.3
colorama==0.4.6
dateparser==1.2.0
easydict==1.9
emoji==2.14.0
faiss==1.5.3
flair==0.14.0
graph_tool==2.11
Jinja2==3.1.4
jsonlines==4.0.0
matplotlib==3.9.2
networkx==3.2.1
nltk==3.9.1
numpy==2.1.2
opt_einsum==3.3.0
pandas==2.2.3
prettytable==3.11.0
pysolr==3.10.0
pytorch_lightning==2.3.0
pytorch_transformers==1.2.0
PyYAML==6.0.1
PyYAML==6.0.2
ReFinED==1.0
regex==2023.10.3
Requests==2.32.3
scipy==1.14.1
segtok==1.5.11
setuptools==69.5.1
spacy==3.8.2
SPARQLWrapper==2.0.0
SPARQLWrapper==2.0.0
termcolor==2.5.0
torch==2.1.0
torch_geometric==2.6.1
torch_scatter==2.1.2
tqdm==4.66.4
transformers==4.43.4
ujson==5.10.0
wikimapper==0.2.0